<!--<form>-->
    <div>
      <mat-form-field>
        <div>
          <input matInput #titleSearch>
        </div>
        <button mat-raised-button (click)="checkForTitle(titleSearch.value)">Title Check</button>
      </mat-form-field>
      <div>
        <span class="success" *ngIf="titleFound"> {{ titleSearch.value}} found!</span>
        <span class="failure" *ngIf="titleFound === false"> {{ titleSearch.value}} not found!</span>
      </div>
    </div>
    <!--</form>-->
    
    
    <!-- No type set -->
    <app-content-card [class.found]="titleSearch.value === item.title" *ngFor="let item of (keyboards | typeSet); first as isTheFirstElement"
                      [content]="item" [class.is-first]="isTheFirstElement" class="no-type"></app-content-card>
    
    <!-- Membrane type set -->
    <app-content-card [class.found]="titleSearch.value === item.title" *ngFor="let item of (keyboards | typeSet: 'Membrane'); first as isTheFirstElement"
                      [content]="item" [class.is-first]="isTheFirstElement" class="Membrane"></app-content-card>
    
    <!--Mechanical type set -->
    <app-content-card [class.found]="titleSearch.value === item.title" *ngFor="let item of (keyboards | typeSet: 'Mechanical'); first as isTheFirstElement"
                      [content]="item" [class.is-first]="isTheFirstElement" [class]="item.type"></app-content-card>