<div class="table-set">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Type</th>
                <th>Image</th>
                <th>Description</th>
                <th>Creator</th>
                <th>Switches</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let keyboard of keyboards; index as i; first as isFirst">
                <td>{{keyboard.id}}</td>
                <td><header>{{keyboard.title}}</header></td>
                <td>{{keyboard.type}}</td>
                <td><img src="{{keyboard.imgURL}}"><input type="button" value="click" ng-click="Display(index)" /></td>
                <td>{{keyboard.description}}</td>
                <td>{{keyboard.creator}}</td>
                <td>{{keyboard.switches}}</td>
            </tr>
        </tbody>
    </table>
</div>